@media screen and (max-width: 440px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "hd hd"
            "welcome welcome";
    }

    .header {
        grid-area: hd;
    }

    .welcome {
        grid-area: welcome;
    }

    .about-me {
        grid-area: about;
    }

    .header {
        padding: 1rem;
    }

    .nav-browser {
        display: none;
    }

    .nav-mobile {
        overflow: hidden;
        position: relative;
    }

    .nav-list {
        padding: 1rem;
        box-shadow: 0px 6px 10px 0px #0000004f;
    }

    .nav-item {
        display: block;
        font-size: 6vw;
        margin-bottom: 10vw;
    }

    .nav-item:last-child {
        margin-bottom: 0vw;
    }

    .icon {
        font-size: 40px;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .icon:focus {
        color: #2B0E10;
    }

    .header .logo {
        width: 50px;
    }

    /* welcome */
    .welcome {
        padding: 1rem;
    }

    .welcome p {
        width: 100%;
    }

    .welcome h2 {
        font-size: 11vw;
        margin: 20px 0px;
    }
    
    .welcome h3 {
        font-size: 6vw;
    }
}