* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: filson pro;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2B0E10;
    width: 100%;
}

.border{
    border: 7px solid;
    border-image: linear-gradient(180deg, rgba(148,134,135,1) 0%, rgba(95,73,75,1) 35%, rgba(69,44,46,1) 100%)1;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

/* Start website */
@media screen and (min-width: 441px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-template-areas:
            "hd hd hd hd hd hd hd hd hd hd hd hd"
            ". . . . . . . . . . . ."
            ". . welcome welcome welcome welcome welcome  welcome . . . ."
            ". . . . . . . . . . . ."
            ". . title title title title . . . . . ."
            ". . abtxt abtxt abtxt abtxt abimg abimg abimg abimg . .";
    }

    .nav-mobile {
        display: none;
    }

    .header {
        padding: 2rem;
    }

    .header .logo {
        width: 60px;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-item {
        font-size: 1vw;
        margin-right: 5rem;
    }


    .ab-img img {
        width: 20vw;
        transition: box-shadow 1s;
    }

    .ab-img::after {
        content: "";
        display: block;
        position: relative;
        width: 20vw;
        height: 20vw;
        top: -20vw;
        z-index: -1;
        border: 4px solid #5F494B;
        box-shadow: 0px 3px 6px;
    }

    .ab-img img:hover {
        box-shadow: 2px 3px 11px 2px #ffffff61
    }
}

/* nav */
.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-item:last-child {
    margin-right: 0rem;
}

.switch-theme {
    border: 1px solid #CCC2C3;
    color: #CCC2C3;
    background: none;
    padding: 1rem;
    border-radius: 15px;
}

/* welcome */
.welcome h4 {
    color: white;
    font-size: 1.17em;
}

.welcome h2 {
    color: #C9C2C3;
    font-size: 5vw;
    margin: 20px 0px;
}

.welcome h3 {
    color: #948687;
    font-size: 3vw;
}

.welcome p {
    color: #948687;
    width: 707px;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0px;
}

.welcome em {
    color: white;
}

.student-work {
    border: 1px solid #CCC2C3;
    color: #CCC2C3;
    background-color: #E5E1E118;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
}

/* about */
.about-title {
    margin-top: 250px;
}

.about-title h2 {
    color: white;
    margin-bottom: 10px;
}

.about-title hr {
    margin-bottom: 30px;
}

.ab-txt {
    color: #E5E1E1;
    font-size: 15px;
    line-height: 1.5;
}

.ab-txt p {
    margin-bottom: 25px;
}

.ab-txt {
    list-style-image: url('../img/hexagon.svg');
    list-style-position: inside;
}

.ab-img {
    margin-left: 3vw;
}




/* grid-areas */

.header {
    grid-area: hd;
}

.welcome {
    grid-area: welcome;
}

.about-title {
    grid-area: title;
}

.ab-txt {
    grid-area: abtxt;
}

.ab-img {
    grid-area: abimg;
}