* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B0E10;
    width: 100%;
}

.center-element,
.loader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    font-size: 7vw;
    text-shadow: 17px 15px 15px #00000063;
}

.intro {
    color: #CCC2C3;
    font-family: filson pro;
    margin-bottom: 5%;
}

.hexagon {
    width: 175px;
    height: 175px;
}

.hex-style {
    stroke: #CCC2C3;
    fill: none;
    stroke-width: 20;
}

.hex-letter {
    fill: #CCC2C3;
    stroke-width: 15;
    animation: SB 5s;
}

.hex-path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes SB {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}