@font-face {
    font-family: FilsonProRegular;
    src: url(/fonts/FilsonProRegular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FilsonProRegular;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}

/* border for the whole body */
.body-border {
    border: 7px solid;
    border-image: linear-gradient(180deg, var(--mid-gray-text) 0%, var(--border) 35%, var(--mid-red-border) 100%)1;
}
